<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registrarse</servlet-name>
        <servlet-class>Servlets.Registrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Iniciar_Sesion_Usuario</servlet-name>
        <servlet-class>Servlets.Iniciar_Sesion_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrar_Sesion_Usuario</servlet-name>
        <servlet-class>Servlets.Cerrar_Sesion_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar_Producto</servlet-name>
        <servlet-class>Servlets.Agregar_Producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Del_Carrito</servlet-name>
        <servlet-class>Servlets.Eliminar_Del_Carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comprar_Carrito</servlet-name>
        <servlet-class>Servlets.Comprar_Carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Iniciar_Sesion_Admin</servlet-name>
        <servlet-class>Servlets.Iniciar_Sesion_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrar_Sesion_Admin</servlet-name>
        <servlet-class>Servlets.Cerrar_Sesion_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marcar_Recibido</servlet-name>
        <servlet-class>Servlets.Marcar_Recibido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar_Producto</servlet-name>
        <servlet-class>Servlets.Editar_Producto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrarse</servlet-name>
        <url-pattern>/user/Registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Iniciar_Sesion_Usuario</servlet-name>
        <url-pattern>/user/Iniciar_Sesion_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar_Sesion_Usuario</servlet-name>
        <url-pattern>/user/Cerrar_Sesion_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar_Producto</servlet-name>
        <url-pattern>/user/Agregar_Producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Del_Carrito</servlet-name>
        <url-pattern>/user/Eliminar_Del_Carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comprar_Carrito</servlet-name>
        <url-pattern>/user/Comprar_Carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Iniciar_Sesion_Admin</servlet-name>
        <url-pattern>/admin/Iniciar_Sesion_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar_Sesion_Admin</servlet-name>
        <url-pattern>/admin/Cerrar_Sesion_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marcar_Recibido</servlet-name>
        <url-pattern>/admin/Marcar_Recibido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar_Producto</servlet-name>
        <url-pattern>/admin/Editar_Producto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
